.git.private
.git.public
frameworks/
frameworks/runtime-src/proj.android-studio/app/assets
frameworks/runtime-src/proj.android-studio/app/obj
frameworks/runtime-src/proj.android/assets
frameworks/runtime-src/proj.android/obj
frameworks/cocos2d-x/cocos/2d/Debug.win32
frameworks/runtime-src/proj.win32/Debug.win32
frameworks/runtime-src/proj.win32/.vs
frameworks/runtime-src/proj.win32/x64
frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
frameworks/cocos2d-x/external/Box2D/proj.win32/Debug.win32
frameworks/cocos2d-x/external/recast/proj.win32/Debug.win32
frameworks/cocos2d-x/external/bgfx/bgfx/build/win32_vs2015
frameworks/cocos2d-x/external/bgfx/bgfx/build/projects/vs2015/bgfx.VC.db
frameworks/cocos2d-x/external/bgfx/bgfx/build/projects/vs2015/Debug.win32
frameworks/runtime-src/proj.win32/GameClient.VC.db
frameworks/runtime-src/proj.win32/GameClient.VC.VC.opendb
frameworks/runtime-src/proj.win32/GameClient.sdf
frameworks/cocos2d-x/prebuilt
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32
frameworks/cocos2d-x/sdk
frameworks/cocos2d-x/templates
frameworks/cocos2d-x/tools/simulator/libsimulator/proj.win32/Debug.win32
frameworks/.git_farm
simulator/win32/GameClientJS.pdb
.idea
*.db
*.obj
*.log
*.tlog
*.pdb
.metadata
*.class
*.o
*.o.d
*.hprof
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/AsyncSprite.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/CustomDownload.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/DefaultSocket.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/FrameworkDelegate.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/GsnClient.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/HttpMultipart.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/ImageHelper.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/InPacket.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/libBaseFramework.Build.CppClean.log
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/libBaseFramework.log
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/libBaseFramework.tlog/CL.command.1.tlog
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/libBaseFramework.tlog/CL.read.1.tlog
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/NativePortal.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/NativeService.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/OutPacket.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/PacketHeaderAnalyze.obj
frameworks/cocos2d-x/baseframework/proj.win32/Debug.win32/sPackage.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/Animation.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/AnimationState.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/Armature.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/BaseDataParser.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/BaseFactory.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/Bone.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/ConstValues.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/DBCCArmature.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/DBCCArmatureNode.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/DBCCFactory.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/DBCCHelper.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/DBCCLuaUtils.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/DBCCSlot.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/DBCCSprite.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/dbtinyxml2.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/EventData.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/libDragonBones.Build.CppClean.log
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/libDragonBones.tlog/CL.read.1.tlog
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/Object.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/PlistDataParser.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/Slot.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/TimelineState.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/WorldClock.obj
frameworks/cocos2d-x/dragonbones/proj.win32/Debug.win32/XMLDataParser.obj
/frameworks/.git/
tools/Build
